@model IEnumerable<HW5.Models.Tennant>

@{
    ViewBag.Title = "List of Tennant's Grievances";
}

<h2>List of Tennant's Grievances</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Explain)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explain)
            </td>
        </tr>

    }
 </table>
