
@{
    ViewBag.Title = "Tennant Request Form";
}

<h2>Tennant Request Form</h2>

@using (Html.BeginForm("RequestForm", "Index", FormMethod.Post))
{
    @Html.Label("FirstName", "First Name")
    @Html.TextBox("FirstName", null, htmlAttributes: new { @class = "form-control", required = "required" })

    @Html.Label("LastName", "Last Name")
    @Html.TextBox("LastName", null, htmlAttributes: new { @class = "form-control", required = "required" })

    @Html.Label("Phone", "Phone Number (In the form xxx-xxx-xxxx)")
    @Html.TextBox("Phone", null, htmlAttributes: new { @class = "form-control", type = "tel", required = "required", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}" })

    @Html.Label("Apartment", "Apartment Name")
    @Html.TextBox("Apartment", null, htmlAttributes: new { @class = "form-control", required = "required" })

    @Html.Label("UnitNum", "Unit Number")
    @Html.TextBox("UnitNum", null, htmlAttributes: new { @class = "form-control", type = "number", min = 1, required = "required" })
    <br />
    @Html.TextArea("Explain", "Explanation of request, maintenance required, or complaint. Please be specific.", htmlAttributes: new { @class = "form-control", required = "required" })
    <br />
    <button type="submit">Submit</button>
}

@if (ViewBag.Blank == false)
{
    <p>
        Blah blah blah!
        @ViewBag.NewTennant.FirstName
    </p>
}