@model HW6.Models.ViewModels.PersonViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <div class="row">
        <div class="col-md-9" id="searchresults">
            <h4 id="nameheader">@Html.DisplayFor(model => model.FullName)</h4>
            <hr id="detaildivider">

            @Html.DisplayNameFor(model => model.Name):&emsp;
            @Html.DisplayFor(model => model.Name)
            <br />
            @Html.DisplayNameFor(model => model.Phone):&emsp; &emsp;&emsp;&emsp;&emsp;
            @Html.DisplayFor(model => model.Phone)
            <br />
            @Html.DisplayNameFor(model => model.Fax):&emsp; &emsp;&emsp; &emsp;&emsp;&emsp;
            @Html.DisplayFor(model => model.Fax)
            <br />
            @Html.DisplayNameFor(model => model.Email):&emsp; &emsp;&emsp; &emsp; &emsp;
            <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
            <br />
            @Html.DisplayNameFor(model => model.MemberSince):&emsp;&emsp;
            @Html.DisplayFor(model => model.MemberSince)
        </div>
        <div class="col-md-3">
            <img src="https://via.placeholder.com/200x250" />
        </div>
    </div>
</div>